@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

*::-webkit-scrollbar {
    width: 0.3rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #535353;
    opacity: 1;
    outline: 1px solid slategrey;
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #838383;
    opacity: 1;
    outline: 1px solid slategrey;
    border-radius: 2px;
}
